@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&family=Noto+Serif+JP:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,300;1,200;1,400&family=Roboto:wght@400;500display=swap&family=Shippori+Mincho+B1:wght@400;500;600;700&display=swap&family=Lora:wght@400;500;600');
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #666665;
}

li {
  list-style: none;
}

@media screen and (min-width: 300px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 19px;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
